@page
@model GroundRentAddressGenerator.Pages.FileExtractTestModel
@{

}

<div>@this.Model.Message</div>
<form method="post" action="/fileextracttest">
    Submit to test:
    <input type="submit" value="Submit" />
</form>
